/* Default Component Styles */

/* Page Container */
.page-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @media (min-width: 1024px) {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}

/* Panel */
.panel {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
  width: 100%;
  height: 100%;
  z-index: 30;
}

/* Default Hero Section */
.default-hero-section {
  padding-top: 4.375rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: rgb(209 213 219);
  position: relative;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) {
    justify-content: center;
  }
}

.default-hero-overlay {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.default-hero-gradient {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.default-hero-content {
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.25rem;

  @media (min-width: 1024px) {
    justify-content: center;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  @media (max-width: 800px) {
    padding: 0;
  }
}

.default-hero-text {
  margin-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: 1024px) {
    justify-content: center;
    flex-grow: 1;
  }
}

.default-hero-title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.625rem;
  color: #FAF9FD;
}

.default-hero-description {
  font-size: 1rem;
  line-height: 1.45rem;
  width: 37.5rem;
  color: #FAF9FD;
  font-weight: 300;
  white-space: pre-wrap;

  @media (max-width: 800px) {
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 100%;
  }
}

.default-scroll-indicator {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  [dir="rtl"] & {
    > * + * {
      margin-left: 0;
      margin-right: 0.625rem;
    }
  }

  @media (min-width: 1024px) {
    margin-top: auto;
  }
}

/* Default Home Page Content */
.default-home-page-content {
  font-family: var(--font-fira);
}

.default-home-page-content-desktop {
  display: none;
  padding-bottom: 3.75rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 5rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: block;
  }
}

.default-home-page-content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.default-home-page-content-text {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.default-home-page-content-images {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.default-home-page-content-main-image {
  width: 100%;
}

.default-home-page-content-secondary-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.default-home-page-content-mobile {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.default-home-page-content-mobile-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}

.default-home-page-content-mobile-text {
  flex: 1 1 auto;
  width: 100%;
  padding: 1.25rem;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.default-home-page-content-mobile-images {
  flex: 1 1 auto;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;

  @media (min-width: 768px) {
    width: 50%;
  }
}
