/* Spacing Utilities */

/* Margin */
.m-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-12\.5 {
  margin-bottom: 3.125rem;
}

/* Padding */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-4 {
  padding: 1rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pb-15 {
  padding-bottom: 3.75rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-5rem {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pt-3rem {
  padding-top: 3rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-1-22rem {
  padding-left: 1.22rem;
}

.pl-1-75rem {
  padding-left: 1.75rem;
}

.pl-2-02rem {
  padding-left: 2.02rem;
}

.pl-1-25rem {
  padding-left: 1.25rem;
}

.pl-11-57rem {
  padding-left: 11.57rem;
}

.pl-3-87rem {
  padding-left: 3.87rem;
}

.pl-15-875rem {
  padding-left: 15.875rem;
}

.pr-1-82rem {
  padding-right: 1.82rem;
}

.pr-22-27rem {
  padding-right: 22.27rem;
}

.pt-1-17rem {
  padding-top: 1.17rem;
}

.pt-1-4018rem {
  padding-top: 1.4018rem;
}

.pt-1-6875rem {
  padding-top: 1.6875rem;
}

.pt-2rem {
  padding-top: 2rem;
}

.pt-6-8125rem {
  padding-top: 6.8125rem;
}

.pt-10rem {
  padding-top: 10rem;
}

.pt-12rem {
  padding-top: 12rem;
}

.pb-0-82rem {
  padding-bottom: 0.82rem;
}

.pb-0-875rem {
  padding-bottom: 0.875rem;
}

.pb-1-62rem {
  padding-bottom: 1.62rem;
}

.pb-1-625rem {
  padding-bottom: 1.625rem;
}

.pb-1-9375rem {
  padding-bottom: 1.9375rem;
}

.pb-7-5rem {
  padding-bottom: 7.5rem;
}

.pb-7-8125rem {
  padding-bottom: 7.8125rem;
}

.pb-9rem {
  padding-bottom: 9rem;
}

.pb-12rem {
  padding-bottom: 12rem;
}

.px-8-4375rem {
  padding-left: 8.4375rem;
  padding-right: 8.4375rem;
}

.px-1-25rem {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-1-3rem {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.px-5rem {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-1-3rem {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.py-0-625rem {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.mb-0-75rem {
  margin-bottom: 0.75rem;
}

.mb-1-25rem {
  margin-bottom: 1.25rem;
}

.mb-1-5rem {
  margin-bottom: 1.5rem;
}

.mb-2-25rem {
  margin-bottom: 2.25rem;
}

.mb-2-49rem {
  margin-bottom: 2.49rem;
}

.mb-2-87rem {
  margin-bottom: 2.87rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.mb-3-75rem {
  margin-bottom: 3.75rem;
}

.mb-3-875rem {
  margin-bottom: 3.875rem;
}

.mb-4-25rem {
  margin-bottom: 4.25rem;
}

.mb-4-19rem {
  margin-bottom: 4.19rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.mb-10-69rem {
  margin-bottom: 10.69rem;
}

.gap-0-5rem {
  gap: 0.5rem;
}

.gap-1-25rem {
  gap: 1.25rem;
}

.gap-1-75rem {
  gap: 1.75rem;
}

.gap-3-125rem {
  gap: 3.125rem;
}

.gap-15-20rem {
  gap: 15.20rem;
}

.py-0-62rem {
  padding-top: 0.62rem;
  padding-bottom: 0.62rem;
}

.px-0-75rem {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.mt-5-375rem {
  margin-top: 5.375rem;
}

.mb-1-11rem {
  margin-bottom: 1.11rem;
}

.mb-0-99rem {
  margin-bottom: 0.99rem;
}

.mb-1-0625rem {
  margin-bottom: 1.0625rem;
}

.mb-2-2rem {
  margin-bottom: 2.2rem;
}

.mb-2-49rem {
  margin-bottom: 2.49rem;
}

.mb-2-87rem {
  margin-bottom: 2.87rem;
}

.mb-3-125rem {
  margin-bottom: 3.125rem;
}

.mb-3-75rem {
  margin-bottom: 3.75rem;
}

.mb-3-875rem {
  margin-bottom: 3.875rem;
}

.mb-4-19rem {
  margin-bottom: 4.19rem;
}

.mb-4-25rem {
  margin-bottom: 4.25rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.mb-10-69rem {
  margin-bottom: 10.69rem;
}

.pl-0-62rem {
  padding-left: 0.62rem;
}

.pl-0-89rem {
  padding-left: 0.89rem;
}

.pl-1-02rem {
  padding-left: 1.02rem;
}

.pl-1-3rem {
  padding-left: 1.3rem;
}

.pl-1-9375rem {
  padding-left: 1.9375rem;
}

.pr-0-92rem {
  padding-right: 0.92rem;
}

.pt-1-17rem {
  padding-top: 1.17rem;
}

.pt-4-1875rem {
  padding-top: 4.1875rem;
}

.pt-6-8125rem {
  padding-top: 6.8125rem;
}

.pt-10rem {
  padding-top: 10rem;
}

.pt-12rem {
  padding-top: 12rem;
}

.pb-0-82rem {
  padding-bottom: 0.82rem;
}

.pb-7-5rem {
  padding-bottom: 7.5rem;
}

.pb-7-8125rem {
  padding-bottom: 7.8125rem;
}

.pb-9rem {
  padding-bottom: 9rem;
}

.pb-12rem {
  padding-bottom: 12rem;
}

.px-1-3rem {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.px-5rem {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-8-4375rem {
  padding-left: 8.4375rem;
  padding-right: 8.4375rem;
}

/* Space Between */
.space-x-2\.5 {
  > * + * {
    margin-left: 0.625rem;
  }
}

.space-y-2\.5 {
  > * + * {
    margin-top: 0.625rem;
  }
}

.space-y-5 {
  > * + * {
    margin-top: 1.25rem;
  }
}

.space-x-5 {
  > * + * {
    margin-left: 1.25rem;
  }
}

/* Gap */
.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-4 {
  gap: 1rem;
}

/* Flex Grow */
.flex-grow {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

/* Shrink */
.shrink-0 {
  flex-shrink: 0;
}
