/* SCSS Mixins for Utilities */

/* Responsive Breakpoints */
@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin xsMobile {
  @media (max-width: 393px) {
    @content;
  }
}

/* Dark Mode */
@mixin dark {
  .dark & {
    @content;
  }
}

/* RTL Support */
@mixin rtl {
  [dir="rtl"] & {
    @content;
  }
}

/* Flex Utilities */
@mixin flex {
  display: flex;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin items-center {
  align-items: center;
}

@mixin items-end {
  align-items: flex-end;
}

@mixin justify-center {
  justify-content: center;
}

@mixin justify-between {
  justify-content: space-between;
}

@mixin justify-end {
  justify-content: flex-end;
}

/* Position Utilities */
@mixin absolute {
  position: absolute;
}

@mixin relative {
  position: relative;
}

@mixin fixed {
  position: fixed;
}

/* Size Utilities */
@mixin full-width {
  width: 100%;
}

@mixin full-height {
  height: 100%;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

/* Z-index Utilities */
@mixin z-10 {
  z-index: 10;
}

@mixin z-20 {
  z-index: 20;
}

@mixin z-30 {
  z-index: 30;
}
